<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="patterns" point="org.eclipse.e4.workbench.model">
      <fragment uri="e4model/patterns.e4xmi"/>
      <processor
            beforefragment="false"
            class="org.modelio.patterns.engine.PatternServiceInitializer">
      </processor>
   </extension>

   <extension point="org.modelio.script.engine.classloaders">
      <jython-api-provider classloaderprovider="org.modelio.patterns.plugin.PatternsClassLoaderProvider" />
   </extension>


    <extension point="org.modelio.edition.dialogs.panels">
      <panel class="org.modelio.patterns.edit.gui.PatternEditPanel"
             id="studio.command.editpanel"
             label="%PatternPanelTab.label"
             primary="true">
      </panel>
      </extension>
</plugin>
